{% extends 'base.html.twig' %}

{%  block metacharset %}
    <meta charset="UTF-8" />
{% endblock %}

{% block body %}
    <h1 class="page-header text-center">
        Bienvenue dans l'espace de gestion de {{ nomOrganisme }}</br>
    </h1>
    <h2>Affaire {{ numeroAffaire }}</h2>
    
    <h3>Allotissement</h3>
    <div class="container">
    	<div class="row">
    		<div class="col-xs-12">
    			<h2>Nouveau Lot</h2>
    			{{ form_start(lotForm) }}
    			{{ form_widget(lotForm) }}
    			<button type="submit" class="btn btn-primary">
    			     <i class="fa fa-plus-square fa-lg" aria-hidden="true"></i> Définir un lot
    			</button>
    			{{ form_end(lotForm) }}
    		</div>
    	</div>		
	</div>
	<table class="table table-striped">
        <thead>
            <tr>
                <th>N°</th>
                <th>Intitulé du lot</th>        
            </tr>
        </thead>
        <tbody>
            {% for lot in allotissement %}
            <tr>
                <td>{{ lot.numeroLot }}</td>
                <td>{{ lot.NomLot }}</td>
            </tr>
                {% for item in listeItems[lot.idLot] %}
                    <tr>
                        <td></td>
                        <td>
                        {{ item.idItem }} {{ item.NomItem }} 
                        {% if listeVisas[ item.idItem ] is defined %}
                            {% if listeVisas[ item.idItem ] is not null %}
                                {{ listeVisas[item.idItem].etatVisa }} 
                            {% else %} 
                                NT 
                            {% endif %}
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>        
    </table>
    
    
    <h3>Documents</h3>
    <div class="">
        <a href = "{{ path('travaux') }}">
            <button type="button" class="btn btn-primary">
                <i class="fa fa-plus-square fa-lg" aria-hidden="true"></i> Ajouter un document
            </button>
        </a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom du fichier</th>
                <th>Date réception</th>
                <th>Date limite de visa</th>
                <th>Etat</th>
                <th>Emplacement</th>         
            </tr>
        </thead>
        <tbody>
            {% for document in listeDocumentsAffaire %}
            <tr>
                <td>{{ document.filename }}</td>            
                <td>{{ document.dateReception|date('d/m/Y') }}</td>
                <td>{{ document.dateLimiteVisa|date('d/m/Y') }}</td>
    			{% if document.etat == 0 %}
    			 <td class="red">NT</td>
    			{% else %}
    			 <td class="green">OK</td>
    			{% endif %}    
    			<td>{{ document.path }}</td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
    
{%  endblock %}