{% extends 'base.html.twig' %}

{%  block metacharset %}
    <meta charset="UTF-8" />
{% endblock %}

{% block body %}
    <h1 class="page-header text-center">
        Affaire {{ affaire.numeroAffaire }} : {{ affaire.nomAffaire }} 
        <a href = "{{ path('affaire_details',{'nomOrganisme':nomOrganisme, 'nomUtilisateur':nomUtilisateur, 'numeroAffaire':affaire.numeroAffaire, 'idAffaire':affaire.idAffaire}) }}">
            <i class="fa fa-reply" aria-hidden="true"></i>
        </a>
    </h1>
    <h2 class="page-header text-center">
        Lot N°{{ lot.numeroLot  }}  {{ lot.nomLot }}</br>
   </h2>
   
   <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Nouvel Item</h3>
				
        		{{ form_start(itemForm) }}
        		{{ form_widget(itemForm) }}
                <button type="submit" class="btn btn-primary">
                     <i class="fa fa-plus-square fa-lg" aria-hidden="true"></i> Créer item
                </button>
				{{ form_end(itemForm) }}
            </div>
        </div>      
    </div>
   
   <h3>Items</h3>
   <div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Type</th>
                <th>Etiquette</th>
                <th>Nom Item</th>
                <th>Etat Visa</th>
            </tr>
        </thead>
        <tbody>
            <!-- PLAN -->
            <tr>    
                <td>Plan</td>
                <td></td><td></td><td></td>
            </tr>
            {% for item in listeItemsPlanLot %}
            <tr>
                <td></td>
                <td>{{ item.tag }}</td>
                <td>{{ item.nomItem }}
					<a href = "{{path('connexion')}}">
						<i class="fa fa-check-circle-o fa-lg" aria-hidden="true"></i>
					</a>
					<a href = "{{path('visa_remarques', {'nomOrganisme':nomOrganisme, 'nomUtilisateur':nomUtilisateur, 'numeroAffaire':affaire.numeroAffaire, 'idAffaire':affaire.idAffaire, 'idLot':lot.idLot, 'idItem':item.idItem } )}}">
						<i class="fa fa-flag fa-1x"></i>
					</a>
				</td>
                <td>
					{% if listeVisas[item.idItem] is not null %}
						{% if listeVisas[item.idItem] is empty %}
							NT
						{% endif %}
						{% for visa in listeVisas[item.idItem] %}
                                {{visa.dateEmission|date('d/m/Y')}} VERSION:{{visa.version}}  ETAT:{{ visa.etatVisa }} </br>
						{% endfor %} 
                    {% else %} 
                                NT
					{% endif %}				                 
                </td>
            </tr>
            {% endfor %}
            
            
            <!-- NDC -->
            <tr>    
                <td>NDC</td>
                <td></td><td></td><td></td>
            </tr>
            {% for item in listeItemsNDCLot %}
            <tr>
                <td></td>
                <td>{{ item.tag }}</td>
                <td>{{ item.nomItem }}</td>
                <td></td>
            </tr>
            {% endfor %}
            
            
            <!-- MATERIEL -->
            <tr>    
                <td>Materiel</td>
                <td></td><td></td><td></td>
            </tr>
            {% for item in listeItemsMaterielLot %}
            <tr>
                <td></td>
                <td>{{ item.tag }}</td>
                <td>{{ item.nomItem }}</td>
                <td></td>
            </tr>
            {% endfor %}
            
            
            <!-- AUTRE -->
            <tr>    
                <td>Autre</td>
                <td></td><td></td><td></td>
            </tr>
            {% for item in listeItemsAutreLot %}
            <tr>
                <td></td>
                <td>{{ item.tag }}</td>
                <td>{{ item.nomItem }}</td>
                <td></td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
   </div>
   
    

{% endblock %}