{% extends 'base.html.twig' %}

{%  block metacharset %}
    <meta charset="UTF-8" />
{% endblock %}

{% block body %}
    <h1 class="page-header text-center">
        Affaire {{ affaire.numeroAffaire }} : {{ affaire.nomAffaire }}
        <a href = "{{ path('affaire_details',{'numeroAffaire':affaire.numeroAffaire}) }}">
            <i class="fa fa-reply" aria-hidden="true"></i>
        </a>
    </h1>
    <h2 class="page-header text-center">
        Lot N°{{ lot.numeroLot  }}  {{ lot.nomLot }}</br>
   </h2>

   <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Nouvel Item</h3>

        		{{ form_start(itemForm) }}
        		{{ form_widget(itemForm) }}
                <button type="submit" class="btn btn-primary">
                     <i class="fa fa-plus-square fa-lg" aria-hidden="true"></i> Créer item
                </button>
				{{ form_end(itemForm) }}
            </div>
        </div>
    </div>

   <h3>Items</h3>
   <div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Type</th>
                <th>Etiquette</th>
                <th>Nom Item</th>
                <th>Etat Visa</th>
            </tr>
        </thead>
        <tbody>

            {% for type in types %}

            <tr>
                <td>{{ type }}</td>
                <td></td><td></td><td></td>
            </tr>
            {% for item in listeItems[type] %}
            <tr>
                <td></td>
                <td>{{ item.tag }}</td>
                <td>
                    <a href = "{{path('visa_remarques', { 'numeroAffaire':affaire.numeroAffaire,  'numeroLot':lot.numeroLot, 'idItem':item.idItem } )}}">
						<i class="fa fa-check-circle-o fa-lg" aria-hidden="true"></i>
					</a>
                    {{ item.nomItem }}
				</td>
                <td>
                    <ul class="list-group">
					{% if listeVisas[item.idItem] is not null %}
						{% if listeVisas[item.idItem] is empty %}
							<li class="list-group-item non-traite">NT</li>
                        {% else %}

                            {% for visa in listeVisas[item.idItem] %}
                                <li class="list-group-item {{visa.cssClass}}">
                                    <b>VISA {{visa.version}} ({{visa.dateEmission|date('d/m/Y')}}) {{ visa.etatVisa }} </b>
                                    <ul class="list-group">
                                    {% for remarque in listeRemarques[visa.idVisa] %}
                                        <li class="list-group-item">
                                            <b>{{ remarque.idTypeRemarque}}</b> {{ remarque.remarque}}
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </li>
    						{% endfor %}

						{% endif %}

                    {% else %}
                            <li class="list-group-item non-traite">NT</li>
					{% endif %}
                    </ul>
                </td>
            </tr>
            {% endfor %}

            {% endfor %}

        </tbody>
    </table>
   </div>



{% endblock %}
