{% extends 'base.html.twig' %}

{%  block metacharset %}
    <meta charset="UTF-8" />
{% endblock %}

{% block pageTitle %}Types de remarques{% endblock %}

{% block body %}
<h2>Liste des types de remarques</h2>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-plus-square fa-lg" aria-hidden="true"></i> Ajouter
            </button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Type de remarque</th>
    </thead>
    <tbody>
    {% for type in listeTypesRemarques %}
        <tr>
            <td>{{ type.idTypeRemarque }}</td>
            <td>{{ type }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
