{% extends 'base.html.twig' %}

{%  block metacharset %}
    <meta charset="UTF-8" />
{% endblock %}

{% block pageTitle %}Emettre un visa{% endblock %}

{% block body %}

<h1>Visa pour: {{item.nomItem}} </h1>

    <div class="container">
         <div class="row">
             <div class="col-xs-12">
                <h2>Nouveau Visa</h2>

                {{ form_start(form) }}

                {{ form_row(form.document) }}
                {{ form_row(form.etatVisa) }}
                    <ul class="remarques list-group" data-prototype="{{ form_widget(form.remarques.vars.prototype)|e('html_attr') }}">
                        {# iterate over each existing tag and render its only field: name #}
                        {{ form_row(form.remarques) }}
                        {% for remarque in form.remarques %}
                            <li class="list-group-item">
                                {{ form_row(remarque.idTypeRemarque) }}
                                {{ form_row(remarque.remarque)}}
                            </li>
                        {% endfor %}
                    </ul>                    
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-plus-square fa-lg" aria-hidden="true"></i> Créer Visa
                </button>
                {{ form_end(form) }}
             </div>
         </div>
     </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/app/addRemarque.js') }}" ></script>
{% endblock %}
