<!DOCTYPE html>
<html>

<head>
{%  block metacharset %}
    <meta charset="UTF-8" />
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="C:\Users\pab\Desktop\STAGE_VISA\WORKSPACE\GIT\PROJET_VISA\web\vendor\fontawesome\css\font-awesome.css">
    <link rel="stylesheet" href="C:\Users\pab\Desktop\STAGE_VISA\WORKSPACE\GIT\PROJET_VISA\web\vendor\bootstrap\css\bootstrap.css">
    <link rel="stylesheet" href="C:\Users\pab\Desktop\STAGE_VISA\WORKSPACE\GIT\PROJET_VISA\web\css\pdf_generator.css">
{% endblock %}
</head>

<body>
{% block allBody %}
    <div class="top-first-page">

        <div class = "lot text-center">
            <h1>
                FICHE VISA N°12 - {{ lot }} ventilation plomberie
            </h1>
        </div>

        <div class = "affaire text-center">
            <h2> {{ affaire }}</h2>
        </div>

        <div class="container liste-diffusion">
            <h3>Intervenants</h3>
            <table class="table">
                <thead>
                    <th>Rôle</th>
                    <th>Organisme</th>
                    <th>Intervenant</th>
                    <th>Mail</th>
                </thead>
                <tbody>
                  <tr>
                    <td>BET Fluide</td>
                    <td>LOUVET</td>
                    <td>Théo HERMANN</td>
                    <td>h.theo@mail.fr</td>
                  </tr>
                  <tr>
                    <td>BET Fluide</td>
                    <td>LOUVET</td>
                    <td>Théo HERMANN</td>
                    <td>h.theo@mail.fr</td>
                  </tr>
                  <tr>
                    <td>BET Fluide</td>
                    <td>LOUVET</td>
                    <td>Théo HERMANN</td>
                    <td>h.theo@mail.fr</td>
                  </tr><tr>
                    <td>BET Fluide</td>
                    <td>LOUVET</td>
                    <td>Théo HERMANN</td>
                    <td>h.theo@mail.fr</td>
                  </tr><tr>
                    <td>BET Fluide</td>
                    <td>LOUVET</td>
                    <td>Théo HERMANN</td>
                    <td>h.theo@mail.fr</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class = "body-fiche">
        <div class="container">
            <h3>Documents examinés au {{ dateStamp|date('d/m/Y')}}</h3>
            <table class="table">
                <thead>
                    <th>Document</th>
                    <th>Emis le</th>
                    <th>Reçu le</th>
                </thead>
                <tbody>
                    {% for document in listeDocuments %}
                    <tr>
                        <td>
                            {{ document }}<br>
                            <small>{{ document.originalFilename }}</small>
                        </td>
                        <td>{{ document.dateReception|date('d/m/Y') }}</td>
                        <td>{{ document.dateReception|date('d/m/Y') }}</td>
                    </tr>
                    {% endfor %}
            </tbody>
            </table>
        </div>

        <div class="container">
            <h3>Légende</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Numéro de visa</th>
                        <th>Indice du plan</th>
                        <th>Etat du visa</th>
                        <th><i>Type de remarque :</i> Remarque</th>
                    </tr>
                </thead>
            </table>
            <b>Indice du plan</b>
            <p>
                Indice du plan auquel fait référence le visa.
            </p>
            <b>Etat du visa</b>
                <ul class="legende">
                    <li>OK : visa accordé</li>
                    <li>OK REM : visa accordé, les travaux peuvent commencer avec la prise en compte des remarques. Renvoi des documents si nécessaire</li>
                    <li>REM : visa refusé, prendre en compte les remarques et renvoyer les documents</li>
                    <li>NC : visa refusé, non conformité au cahier des charges</li>
        </div>

        <div class="container">
        <h3>Visas et remarques</h3>
            {% for type in types %}
                {% for item in listeItems[type] %}
                <div class="item">
                    <b>{{ item.nomItem }}</b>
                    <table class="table">
                        <tbody>
                            {% set visa = listeVisas[item.idItem] %}
                            <tr>

                                <td class="td-visa">Visa {{ visa.version }}</td>
                                <td>{{ visa.indicePlan }}</td>
                                <td>{{ visa.etatVisa }}</td>
                                <td>
                                    {% for remarque in listeRemarques[visa.idVisa] %}
                                        <i>{{ remarque.idTypeRemarque }}</i> : {{ remarque.remarque }}<br>
                                    {% endfor %}
                                </td>
                            </tr>
                        <tbody>
                    </table>
                </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
</body>

</html>
