{% extends 'base.html.twig' %}

{%  block metacharset %}
    <meta charset="UTF-8" />
{% endblock %}

{% block pageTitle %}Travail à faire{% endblock %}

{% block body %}
<h3>Liste des documents à traiter</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Type</th>
            <th>Nom du fichier</th>
            <th>Date réception</th>
            <th>Date limite de visa</th>
            <th>Nom réception</th>
        </tr>
    </thead>
    <tbody>
        {% for affaire in listeAffaires %}
            {% for document in listeDocuments[affaire.idAffaire] %}
            <tr>
                <td>{{ document.type }} </td>
                <td>{{ document.filename }}</td>
                <td>{{ document.dateReception|date('d/m/Y') }}</td>
                <td>{{ document.dateLimiteVisa|date('d/m/Y') }}</td>
                <td>{{ document.originalFilename }}</td>
            </tr>
            {% endfor %}
        {% endfor %}
    </tbody>

</table>
{% endblock %}
