<style type="text/css">

td, th{
    padding: 3px;
}
#documents th, #intervenants th{
    border-bottom: 1px solid #ddd;
}

#visas tr, #documents tr, #intervenants tr{
    width: 170mm;
    page-break-inside: avoid;
}
#visas td{
    padding: 0px;
}

</style>
<page backtop="25mm" backbottom="23mm" backleft="10mm" backright="10mm" style="font-size: 10pt">

    <page_header>
        <table>
            <tr style="border-bottom: 4px solid #2c62e0;">
                <td style="width: 20%;">
                    {% if organisme.idOrganisme == 1 %}
                        <img src="C:\Users\pab\Desktop\STAGE_VISA\WORKSPACE\GIT\PROJET_VISA\web\images\pdf\LOGO-LOUVET-pdf.jpg" style="width: 230px; height: 100px;">
                    {% elseif organisme.idOrganisme == 2 %}
                        <img src="C:\Users\pab\Desktop\STAGE_VISA\WORKSPACE\GIT\PROJET_VISA\web\images\pdf\LOGO-ADAM-pdf.jpg" style="width: 230px; height: 100px;">
                    {% else %}
                        <img src="C:\Users\pab\Desktop\STAGE_VISA\WORKSPACE\GIT\PROJET_VISA\web\images\pdf\LOGO-BET-pdf.jpg" style="width: 230px; height: 100px;">
                    {% endif %}
                </td>
                <td style="width: 25%;">
                    <table >
                        <tbody>
                            <tr>
                                <td>Affaire : </td>
                                <td>{{ affaire.numeroAffaire }}  </td>
                                <td>Lot : </td>
                                <td>{{ lot.numeroLot }}  </td>
                            </tr>
                            <tr>
                                <td>Fiche : </td>
                                <td>{{ fiche.numeroFiche }}</td>
                                <td>Page : </td>
                                <td>
                                    [[page_cu]]/[[page_nb]]
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="width: 25%;">
                    <table>
                        <tbody>
                            <tr>
                                <td>Emis le : </td>
                                <td>{{ dateStamp|date('d/m/Y')}}</td>
                            </tr>
                            <tr>
                                <td>À : </td>
                                <td>Nancy</td>
                            </tr>
                            <tr>
                                <td>Par : </td>
                                <td>{{ app.user }}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="width:30%;">
                    <qrcode value="Aff:{{ affaire.numeroAffaire }} Lot:{{ lot.numeroLot }} Le:{{ dateStamp|date('d/m/Y')}} Par:{{ app.user }},{{ organisme }}" ec="H" style="width: 23mm; background-color: white; color: #2c62e0;"></qrcode>
                </td>
            </tr>
        </table>
    </page_header>

    <page_footer>
        <div class="footer">

            <ul class="footer-infos-organisme" style="text-align: center; list-style-type: none;">
                {% if organisme.idOrganisme == 1 %}
                    <li>Bureau d'Etudes fluides LOUVET</li>
                    <li>15 Avenue de la Garenne - BP 694 - 54063 NANCY CEDEX</li>
                    <li>
                        <i class="fa fa-phone" aria-hidden="true"></i> 03 83 28 85 85
                        <i class="fa fa-fax" aria-hidden="true"></i> 03 83 27 67 10
                    </li>
                    <li>betlouvet@louvet.fr</li>
                {% elseif organisme.idOrganisme == 2 %}
                    <li> Bureau d'Etudes ADAM STRUCTURES</li>
                    <li>13/15 Avenue de la Garenne - BP 694 - 54063 NANCY CEDEX</li>
                    <li>
                        <i class="fa fa-phone" aria-hidden="true"></i> 03 83 27 33 22
                        <i class="fa fa-fax" aria-hidden="true"></i> 03 83 27 46 90
                    </li>
                    <li>structures@bet-adam.fr</li>
                {% else %}
                    <li>Footer</li>
                    <li>Informations entreprise</li>
                {% endif %}

            </ul>
        </div>
    </page_footer>

    <div class="content" style="margin:0 auto;" >

        <h1 style="text-align: center;">
            FICHE VISA N°{{ fiche.numeroFiche }} - {{ lot }} ventilation plomberie
        </h1>

        <h2 style="text-align: center;">
            {{ affaire }}
        </h2>


        <h3>Intervenants</h3>
        <table id="intervenants">
            <thead>
                <tr>
                    <th style="width: 20%; padding: 2px;">Rôle</th>
                    <th style="width: 20%; padding: 2px;">Organisme</th>
                    <th style="width: 20%; padding: 2px; overflow: hidden;">Intervenant</th>
                    <th style="width: 40%; padding: 2px;">Mail</th>
                </tr>
            </thead>
            <tbody>
            {% for contact in listeDiffusion %}
                <tr>
                    <td style="width: 20%;">{{ contact.role }}</td>
                    <td style="width: 20%;">{{ contact.organisme }}</td>
                    <td style="width: 25%;">{{ contact.pdfName }}</td>
                    <td style="width: 35%;">{{ contact.pdfMail}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h3>Documents examinés au {{ dateStamp|date('d/m/Y')}}</h3>
        <table id="documents">
            <thead>
                <tr>
                    <th style="width: 80%; padding: 2px;">Document</th>
                    <th style="width: 10%; padding: 2px;">Emis le</th>
                    <th style="width: 10%; padding: 2px;">Reçu le</th>
                </tr>
            </thead>
            <tbody>
                {% for document in listeDocuments %}
                <tr>
                    <td>
                        {{ document }}<br>
                        <small>{{ document.originalFilename }}</small>
                    </td>
                    <td>{{ document.dateReception|date('d/m/Y') }}</td>
                    <td>{{ document.dateReception|date('d/m/Y') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


        <h3>Etat du visa</h3>
        <div style="width: 160mm; border-left: 3px solid #2c62e0; background-color: #eaedef;">
            <ul style="list-style-type: none;">
                <li><b>F : avis Favorable.</b><br><small> Bon pour éxécution.</small></li>
                <li><b>C : avis favorable sous Condition.</b><br><small> Les remarques doivent être prises en compte pour les travaux. Renvoi des documents si nécessaire.</small></li>
                <li><b>S : avis Suspendu.</b><br><small> Modifier et renvoyer les documents pour prendre en compte les remarques.</small></li>
                <li><b>D : avis Défavorable.</b><br><small> Le visa est refusé.</small></li>
                <li><b>HM: Hors Mission.</b><br><small> Le bureau n'est pas concerné par cet objet.</small></li>
            </ul>
        </div>

        <h3>Visas et remarques</h3>
        <table id="visas">
            <tbody>
                {% for document in listeDocuments %}
                    {% for visa in listeVisas[document.idDocument]%}

                        <tr>
                            <td style="width: 33%; padding-top: 6mm; border-bottom: 1px solid #ddd;"><b>{{ visa.idItem }}</b> <small>#{{ visa.version }}</small></td>
                            <td style="width: 67%; padding-top: 6mm; border-bottom: 1px solid #ddd;"><b>{{ visa.etatVisa }}</b></td>
                        </tr>
                        {% for remarque in listeRemarques[visa.idVisa] %}
                        <tr>
                            <td style="width: 33%; text-align:right;">
                                {{ remarque.idTypeRemarque }}
                            </td>
                            <td style="width: 67%;">
                                <i>
                                    {{ remarque.remarque }}
                                </i>
                            </td>
                        </tr>
                        {% endfor %}

                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>

    </div>

</page>
