{% extends 'base.html.twig' %}

{%  block metacharset %}
    <meta charset="UTF-8" />
{% endblock %}

{% block body %}
<h1>Bienvenue {{ nom|upper }}</h1>
<h2>Coucou</h2>
    <a href="{{ path('visa_show_affaires',{'nom':nom}) }}">Json Notes</a>

    <h2 class="genus-name">{{ nom }}</h2>
    <div class="sea-creature-container">
        <div class="genus-photo"></div>
        <div class="genus-details">
            <dl class="genus-details-list">
                <dt>Subfamily:</dt>
                <dd>Octopodinae</dd>
                <dt>Known Species:</dt>
                <dd>{{ '9999'|number_format }} (9999)</dd>
                <dt>Fun Fact:</dt>
                <dd>{{ funFact|raw }}</dd>
            </dl>
        </div>
    </div>
    <div class="notes-container">
        <h2 class="notes-header">Notes</h2>
        <div><i class="fa fa-plus plus-btn"></i></div>
    </div>
    <section id="cd-timeline">
       
    </section>
{%  endblock %}

{% block javascripts %}
    {{ parent() }}
    
{% endblock %}