{% extends 'base.html.twig' %}

{%  block metacharset %}
    <meta charset="UTF-8" />
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Bienvenue</h1>
            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            {{ form_start(form) }}
                {{ form_row(form._username) }}
                {{ form_row(form._password) }}
                <button type="submit" class="btn btn-success">Connexion <span class="fa fa-lock"></span></button>
                <a href="{{ path('creer_compte') }}">Creer un compte <i class="fa fa-user-plus"></i></a>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
